@import "tailwindcss";

.input {
    @apply rounded px-3 py-2 text-sm
    bg-white dark:bg-neutral-900
    border border-neutral-300 dark:border-neutral-700
    focus:outline-none
    focus:ring-1 focus:ring-sky-500;
}